install
cdrom
lang en_US.UTF-8
keyboard us
network --onboot yes --device eth0 --bootproto dhcp --noipv6
rootpw  --iscrypted $6$k2lehWHDG4Aw68L7$EnuzzC7vt9z9aNx6SOZkQ331oOjQjub58CD4HaAvP7O.CCknRFhil7sRMF5SJPZvHXTAk41YqzixdEjkN9Mph.
firewall --enabled --service=ssh
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone --utc America/New_York
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb quiet"

text
skipx
zerombr

clearpart --all --initlabel
autopart

auth  --useshadow  --enablemd5
firstboot --disabled
reboot

%packages --nobase --ignoremissing 
@core
bzip2
kernel-devel
kernel-headers
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
%end

%post
# Install SUDO
/usr/bin/yum -y install sudo

# Create vagrant user
/usr/sbin/useradd vagrant
/bin/mkdir /home/vagrant/.ssh
/bin/chmod 700 /home/vagrant/.ssh
cat >           /home/vagrant/.ssh/authorized_keys <<'VAGRANT_RSA'
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDnY7HZ4Ezi7ocY9FF7oxqUczfQ1A/PigwNbyc3O+/4GHiUbFDsFZhBNxNKEs0fTEzVyU8aG3grb+jsZw3IEYToOznaoBUgub0edKwo2twM9YHAwhCuBzZTahKCCWd3ajYWJXHWkqC/ACcPqBUOVx+Aw1PV9dHeUdFmF/WvJJguCLVSVy+DgHCX4KkCjYKv80Y0lJnWBfn9egd9Q9pYEOyF7YegUL5cGhRfk+GqoGpP2elchcM97nb19dYCbRumw34CjjqHqyBsr+61Stn83hgGxjLbjvsqShJKfVjDCsngqFbbK9SFOSw07yyXgwqQEGm+JGBCpM5PkuXQxXJrMAMsg2PBNDUA/kDTf7nBGCp9vVjo2uqIGLznK9r0cbZItsVVWNDPUQ4GeueZSWm+RL334Vx7qHkzsn5hRDCPpTolNqd2kjUIut7aeJFwjhPUqqhWVEEUAqQjxKBWpmyjtlnXqLi6pj2bQYZ9Z2HO2yNMAwTd6s2xZbqwsAmOWloFFhxUf79dDS6cK0r+hLhTBij9VNCaLtNXpoSyUsDZx3aU63Hq3pE0vKD/gucdwVRSGJqiyDHHK9I1yT0rScU0VDAX8HxmjVDgAiEmchrfDH1Ncixd+WeHFKBM0Tc0dURagJ/ArUu2Sm8hUJsCqOijAiIWIQz6yRBYqwc7uaODuHyuFQ== vagrant
VAGRANT_RSA

/bin/chmod 600 /home/vagrant/.ssh/authorized_keys
/bin/chown -R vagrant /home/vagrant/.ssh

# Add vagrant user to SUDO
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
echo "Defaults:vagrant !requiretty"                 >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
%end
